* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    overflow: hidden;
}

/* Transform translate does not work on inline and span is inline so we update it */
h1 span {
    display: inline-block;
}
